@font-face {
  font-family: "FREESCPT";
  src: url("fonts/FREESCPT.eot");
  src: url("fonts/FREESCPT.eot") format("embedded-opentype"),
    url("fonts/FREESCPT.woff2") format("woff2"),
    url("fonts/FREESCPT.woff") format("woff"),
    url("fonts/FREESCPT.ttf") format("truetype"),
    url("fonts/FREESCPT.svg#FREESCPT") format("svg");
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot") format("embedded-opentype"),
    url("fonts/icomoon.ttf") format("truetype"),
    url("font/icomoon.woff2") format("woff2"),
    url("fonts/icomoon.woff") format("woff"),
    url("fonts/icomoon.svg") format("svg");
}
:root {
  --brand-color: #6346e2;
}
body {
  font-family: icomoon;
  color: #555;
}
.container {
  max-width: 1400px;
  margin: auto;
}
.content-contain {
  max-width: 1170px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
  align-items: center;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li:not(:last-of-type) {
  margin-right: 30px;
}
.header-nav a {
  text-decoration: none;
  color: #555;
  transition: 0.5s;
  font-weight: bold;
  position: relative;
}
.header-nav a:hover {
  color: var(--brand-color);
}
.header-nav a::after {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  background-color: #2f06e4;
  position: absolute;
  left: 12%;
  bottom: -2px;
  opacity: 0;
  transition: 0.5s;
}
.header-nav a:hover::after {
  opacity: 1;
}
.trial-class {
  background-color: rgba(74, 76, 196, 0.596);
  background-image: url(img/bg-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: 55%;
}
.trial-class__flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}
.trial-class__form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: white;
  margin: 100px 0 100px 0;
  border-radius: 15px;
  box-shadow: 3px 5px 20px rgb(22, 23, 34);
}
.trial-class__form h3 {
  color: #6346e2;
  font-weight: 600;
  padding: 40px 38px;
}
.trial-class__form input[placeholder],
.trial-class__form select[placeholder] {
  width: 240px;
  margin: 0 30px;
  border: none;
  background-color: rgb(234, 235, 234);
  border-radius: 5px;
  padding: 18px 10px;
  box-sizing: border-box;
}
.trial-class__form p + p {
  margin-top: 17px;
}
.trial-class__form button {
  justify-content: center;
  width: 50%;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background-color: var(--brand-color);
  border: none;
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  padding: 1rem 0;
  margin: 10px 0 35px 120px;
  transition: 0.7s;
}
.trial-class__form button:hover {
  background-color: rgb(108, 165, 252);
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.trial-class__form:last-child {
  display: flex;
}
.page-head {
  padding: 0 55px 0 90px;
}
.page-head h1 {
  color: rgb(235, 235, 235);
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 50px;
  line-height: 60px;
  padding-bottom: 35px;
}
.page-head p {
  font-family: Freestyle script;
  font-size: 2.5rem;
  color: white;
}
.yoga-feature {
  padding: 125px 0;
}
.yoga-feature__head {
  text-align: center;
}
.yoga-feature__head h2 {
  text-transform: uppercase;
  color: #6346e2;
  font-size: 2rem;
}
.yoga-feature__head p {
  font-family: Freestyle script;
  font-size: 3rem;
  padding: 35px 0 76px 0;
  color: rgba(85, 85, 85, 0.87);
}
.yoga-feature__classes li {
  transition: 0.7s;
}
.yoga-feature__classes li:hover {
  box-shadow: 2px 2px 1px rgb(101, 219, 121);
}
.yoga-feature__classes ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.yoga-feature__classes ul li {
  display: flex;
  width: calc(50% - 15px);
  box-shadow: 1px 1px 15px rgb(68, 70, 87);
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
}
.card-description {
  position: relative;
  padding: 50px 30px 0 30px;
}
.card-description h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 18px;
}
.card-description p:first-of-type {
  padding: 18px 0;
}
.card-description p:last-of-type {
  position: absolute;
  bottom: 35px;
  opacity: 0.6;
  transition: 0.7s;
}
.card-description p:last-of-type:hover {
  padding: 5px;
  color: white;
  background-color: var(--brand-color);
  border: 1px solid rgb(94, 212, 94);
  border-radius: 5px;
}
.img-exercises {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 89px;
}
.img-exercises img {
  position: relative;
  display: inline-block;
  width: 25%;
}
.img-exercises img:hover {
  background-color: var(--brand-color);
}
.img-exercises form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.img-exercises form input {
  position: absolute;
  top: 89px;
  left: 0;
  box-sizing: border-box;
  width: 25%;
  height: 255.73px;
  background: rgba(35, 32, 212, 0.1) url(img/free-icon-font-search-3917754.svg)
    center no-repeat;
}
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 175px 0;
}
.about-us__description {
  max-width: 50%;
  margin-right: 100px;
}
.about-us h2 {
  text-transform: uppercase;
  color: var(--brand-color);
  font-size: 2rem;
  margin-bottom: 20px;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.about-us__slider .slick-arrow.slick-disabled {
  opacity: 0.4;
}
.about-us__slider {
  position: relative;
  padding: 0px 15px;
  min-width: 50%;
}
.about-us__slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 45px;
  height: 50px;
}
.about-us__slider .slick-arrow.slick-prev {
  left: 0;
  border: none;
  background: url(../img/noun-arrow-63447.svg) 0 0 / 100% no-repeat;
}
.about-us__slider .slick-arrow.slick-next {
  right: 0;
  border: none;
  background: url(../img/noun-arrow-63453.svg) 0 0 / 100% no-repeat;
}
.about-us__slider__item {
  text-align: center;
}
.yoga-benefit {
  background-color: rgba(74, 76, 196, 0.596);
  background-image: url(img/bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: 55%;
}
.yoga-benefit ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 66px 0 81px 0;
}
.yoga-benefit li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  max-width: 25%;
  max-width: calc(25% - 35px);
  padding: 59px 0 0 0;
}
.yoga-benefit li + li {
  margin-left: 35px;
}
.yoga-benefit li:nth-child(5) {
  margin-left: 0;
}
.yoga-benefit__img-wrap {
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
}
.yoga-benefit__img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yoga-benefit h3 {
  text-transform: uppercase;
  margin: 34px 0 25px 0;
}
.price {
  background: url(img/bg-03.jpg) 180% 100% no-repeat;
}
.price > div {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.price__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width:calc(33.33% - 30px);
  box-shadow: 1px 1px 15px rgb(68, 70, 87);
  border-radius: 10px;
  overflow: hidden;
}
.price .content-contain > div + div {
  margin-left: 30px;
}
.price__card__upper {
  padding: 50px 72px 50px 110px;
  background-color: var(--brand-color);
  color: white;
}
.price__card__upper p {
  font-size: 4.5rem;
  display: flex;
  align-items: flex-end;
}
.price__card__upper p::before {
  content: "$";
  font-size: 2rem;
  align-items: center;
  padding: 0 20px 20px 0;
}
.price__card__upper span {
  font-size: 1.5rem;
}
.price__card__lower {
  padding: 52px 80px ;
}
.price__card__lower p {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 25px 0;
}
.price__card__lower p + p {
  border-top: 1px solid grey;
}
.price__card__lower button {
  color: white;
  background-color: var(--brand-color);
  border: var(--brand-color);
  border-radius: 15px;
  padding: .9rem 3.2rem;
  cursor: pointer;
}
.upper-footer {
}
.lower-footer {
}
